Source: nymea-plugins-modbus
Section: utils
Priority: options
Maintainer: Bernhard Trinnes <bernhard.trinnes@nymea.io>
Build-depends: debhelper (>= 9.0.0),
               libnymea1-dev (>= 0.17),
               libqt5serialbus5-dev,
               libqt5serialport5-dev,
               nymea-dev-tools:native,
               pkg-config,
               qtbase5-dev,
Standards-Version: 3.9.3


Package: nymea-plugin-drexelundweiss
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nymea-plugins-modbus-translations
Description: nymea.io plugin for Drexel & Weiss heat pumps
 The nymea daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the nymea.io plugin for Drexel & Weiss heat pumps


Package: nymea-plugin-modbuscommander
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nymea-plugins-modbus-translations
Description: nymea.io plugin to send and receive generic modbus commands
 The nymea daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the nymea.io modbus commander plug-in
 

Package: nymea-plugin-mypv
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nymea-plugins-modbus-translations,
Description: nymea.io plugin for my-pv heating rods
 The nymea daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the nymea.io plugin for my-pv


Package: nymea-plugin-wallbe
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nymea-plugins-modbus-translations
Description: nymea.io plugin for wallbe ev charging stations
 The nymea daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the nymea.io plugin for wallbe


Package: nymea-plugins-modbus-translations
Section: misc
Architecture: all
Depends: ${misc:Depends}
Description: Translation files for nymea modbus plugins - translations
 The nymea daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package provides the translation files for all nymea modbus plugins.

