Source: nymea-plugins-modbus
Section: utils
Priority: options
Maintainer: nymea GmbH <developer@nymea.io>
Standards-Version: 3.9.3
Build-depends: debhelper (>= 9.0.0),
               libnymea-dev (>= 0.17),
               libnymea-gpio-dev,
               libqt5serialbus5-dev,
               libqt5serialport5-dev,
               nymea-dev-tools:native,
               pkg-config,
               qtbase5-dev,
               libi2c-dev,
               python3:native


Package: libnymea-sunspec1
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: nymea.io sunspec library
 This package contains the nymea sunspec library.


Package: libnymea-sunspec-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libnymea-sunspec1 (= ${binary:Version}),
         pkg-config,
         qtbase5-dev,
Description: The main libraries and header files for developing with nymea sunspec.
 This package contains the nymea sunspec library - development files.


Package: libnymea-modbus
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: nymea modbus integration plugins library
 This package contains the nymea modbus library for integration plugins.


Package: libnymea-modbus-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libnymea-modbus (= ${binary:Version}),
         pkg-config,
         qtbase5-dev,
         python3,
Description: The main libraries and header files for developing with modbus based nymea integration plugins.
 This package contains the nymea modbus integration plugin library - development files.


Package: nymea-plugin-alphainnotec
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for alpha innotec heat pumps
 This package contains the nymea integration plugin for alpha innotec head pumps.


Package: nymea-plugin-bgetech
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for B+G E-Tech Modbus based energy meters
 This package contains the nymea integration plugin for Modbus based energy meters
 made by B+G E-Tech.


Package: nymea-plugin-drexelundweiss
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for Drexel & Weiss heat pumps
 This package contains the nymea integration plugin for Drexel & Weiss heat pumps.


Package: nymea-plugin-idm
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for iDM heat pumps
 This package contains the nymea integration plugin for iDM heat pumps.


Package: nymea-plugin-inepro
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for inepro Metering Modbus based energy meters
 This package contains the nymea integration plugin for Modbus based energy meters
 made by inepro Metering.


Package: nymea-plugin-huawei      
Architecture: any
Multi-Arch: same 
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}   
Description: nymea integration plugin for Huawei FusionSolar energy devices
 This package contains the nymea integration plugin for Huawei FusionSolar devices
 based on Modbus TCP.


Package: nymea-plugin-modbuscommander
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin to send and receive generic modbus commands
 This package contains a nymea integration plugin which allows to send and receive
 generic Modbus commands to/from a Modbus device.
 

Package: nymea-plugin-mypv
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for my-pv heating rods
 This package contains the nymea integration plugin for my-pv solar inverters.


Package: nymea-plugin-mtec
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for M-TEC heat pumps
 This package contains the nymea integration plugin for M-TEC heat pumps.


Package: nymea-plugin-schrack
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for Schrack wallboxes
 This package contains the nymea integration plugin for Schrack wallboxes.


Package: nymea-plugin-sunspec
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for SunSpec Modbus devices
 This package contains the nymea integration plugin for SunSpec compatible solar inverters.


Package: nymea-plugin-unipi2
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         wiringpi,
Replaces: nymea-plugin-unipi
Description: nymea integration plugin for UniPi devices
 This package contains the nymea integration plugin for UniPi devices.


Package: nymea-plugin-wallbe
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for Wallbe wallboxes
 This package contains the nymea integration plugin for wallboxes made
 by wallbe.

Package: nymea-plugin-webasto
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for Webasto Live wallboxes
 This package contains the nymea integration plugin for wallboxes made
 by Webasto.
