Source: nymea-plugins-modbus
Section: utils
Priority: options
Maintainer: Bernhard Trinnes <bernhard.trinnes@nymea.io>
Build-depends: debhelper (>= 9.0.0),
               libnymea-dev (>= 0.17),
               libnymea-gpio-dev,
               libqt5serialbus5-dev,
               libqt5serialport5-dev,
               nymea-dev-tools:native,
               pkg-config,
               qtbase5-dev,
               libi2c-dev
Standards-Version: 3.9.3


Package: libnymea-sunspec1
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: nymea.io sunspec library
 The nymea daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the nymea.io sunspec library

Package: libnymea-sunspec-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libnymea-sunspec1 (= ${binary:Version}),
         pkg-config,
         qtbase5-dev,
Description: The main libraries and header files for developing with nymea sunspec.
 The nymea daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the development files for nymea sunspec.


Package: nymea-plugin-drexelundweiss
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nymea-plugins-modbus-translations
Description: nymea.io plugin for Drexel & Weiss heat pumps
 The nymea daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the nymea.io plugin for Drexel & Weiss heat pumps


Package: nymea-plugin-idm
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nymea-plugins-modbus-translations,
Description: nymea.io plugin for iDM heat pumps
 The nymea daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the nymea.io plugin for iDM heat pumps


Package: nymea-plugin-energymeters
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nymea-plugins-modbus-translations
Description: nymea.io plugin for Modbus based energy meters
 The nymea daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the nymea.io plugin for energy meters


Package: nymea-plugin-kostal
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nymea-plugins-modbus-translations
Description: nymea.io plugin for modbus based KOSTAL inverters
 The nymea daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the nymea.io plugin for modbus based KOSTAL inverters


Package: nymea-plugin-modbuscommander
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nymea-plugins-modbus-translations
Description: nymea.io plugin to send and receive generic modbus commands
 The nymea daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the nymea.io modbus commander plug-in
 

Package: nymea-plugin-mypv
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nymea-plugins-modbus-translations
Description: nymea.io plugin for my-pv heating rods
 The nymea daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the nymea.io plugin for my-pv


Package: nymea-plugin-mtec
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nymea-plugins-modbus-translations
Description: nymea.io plugin for M-TEC heat pumps
 The nymea daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the nymea.io plugin for M-TEC heat pumps


Package: nymea-plugin-sunspec
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nymea-plugins-modbus-translations
Description: nymea.io plugin for SunSpec Modbus devices.
 The nymea daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the nymea.io plugin for SunSpec.


Package: nymea-plugin-unipi2
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         wiringpi,
         nymea-plugins-modbus-translations
Replaces: nymea-plugin-unipi
Description: nymea.io plugin for UniPi devices
 The nymea daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the nymea.io plugin for unipi devices


Package: nymea-plugin-wallbe
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nymea-plugins-modbus-translations
Description: nymea.io plugin for wallbe ev charging stations
 The nymea daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the nymea.io plugin for wallbe

Package: nymea-plugin-webasto
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nymea-plugins-modbus-translations
Description: nymea.io plugin for Webasto Live EV charging stations
 The nymea daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the nymea.io plugin for webasto


Package: nymea-plugins-modbus-translations
Section: misc
Architecture: all
Depends: ${misc:Depends}
Description: Translation files for nymea modbus plugins - translations
 The nymea daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package provides the translation files for all nymea modbus plugins.
